.env
*.pt
colmap/*
nerf_processed/*
outputs/*
sv_pointcloud_out/*
train/*
yolo_training/10k/images
yolo_training/10k/labels
yolo_training/10k/runs
output
!output/local_panos
Fast-SCNN-pytorch/*
yolo_training/images
yolo_training/labels
yolo_training/runs
.DS_STORE
__pycache__/
*.jpg
*.json
*.png
*.mp4
camera_views
v2x-backend-hls-reader-credentials
